/*For Mobile*/
/*Footer start*/
.header-wrapper{background-color: #7dd9e8;}

.header-bottom-container{background:cornsilk;}
.col3-left{background:brown;}
.footer-wrapper {background: blue;}
.search{
	background:#7dd9e8;
	padding: 20px 18px 10px;
	width: 36.78038379530917%;
}

.user-info {
    float: right;
}
/*mobile ends*/

/*Start of new Section*/
@media only screen and (min-width: 1024px) {
	/*For Desktop*/
/*Header*/
.header-wrapper {
    
    width: 100%;
}

.header-top-container {
    width: 938px;
    margin: 0 auto;
}

.search{
	background:#7dd9e8;
	float:left;
	padding: 20px 18px 10px;
	width: 36.78038379530917%;
}

.header-bottom-container {
        width: 938px;
        margin: 0 auto;
}


.nav-left{
    float: left;
}

.nav-right {
    float: right;
}

/*body*/
.col3-left {
    width: 938px;
    margin: 0 auto;
}

.col-left {
    float: left;
}

.main {
    float: right;
}

.col-left {
    width: 194px;
}


.main-container {
    float: left;
    width: 520px;
}

.col-right {
    float: right;
    width: 176px;
}

/*Footer start*/
.footer-wrapper {
    background-color: #727272;
}

.footer-wrapper-container {
    width: 938px;
    margin: 0 auto;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

}