.main-container-wrapper{background:#7dd9e8 ; min-width: 1002px; margin: 0px auto;}

/*.header-wrapper{background: pink;}*/
.header-top{background:#7dd9e8;}
.header-top-container{background:#7dd9e8;width: 938px; margin: 0 auto; padding-top: 22px; padding-bottom:16px;}
.logo{background: white; width: 223px; float: left;}
.logo img{display: block;}
.search-wrapper{background: #7dd9e8; width: 336px; padding: 20px 24px 9px 24px; float:left;}
.user-profile{background: #7dd9e8; float: right;  direction: rtl;}


.header-bottom{background: #f5f5f5; line-height: 38px;}
.header-bottom-container{ width: 938px; margin: 0 auto;}

.body-wrapper{background:#fff;padding: 30px;}
.col3-left{background: #f5f5f5; width: 938px; margin: 0 auto;}
.left-column{background: #f5f5f5; width: 194px; float: left;}
.col3-right-container{float: right; width: 744px;}
.main-content{float: left;background:#ffffff;width: 520px;padding:0px 24px;}
.right-column{background: #f5f5f5; width: 176px; float: right;}



.footer-wrapper{background:#727272;}
.footer{width: 938px; margin: 0 auto;}
