.menu-top{}
.menu-top ul {list-style: none; margin: 0px; padding: 0px;}
.menu-top ul li{float: left;width: auto;}




pipe sign li background position



image frame::::

frame=>> absolute
closest div ==> relative
zrruler